Protocol 2
Port 22
PubkeyAuthentication no
PasswordAuthentication yes
AllowTcpForwarding no
X11Forwarding no
AllowUsers pair
PrintMotd no
IgnoreUserKnownHosts yes
PermitRootLogin no
PermitEmptyPasswords no
